body {
    background: #f96767;
}

.header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

.logo {
    width: 80px;
    padding-left: 30px;
}


.nav-items {
    padding: 0 30px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    flex-wrap: wrap;
    display: flex;
}

.res-card {
    margin: 10px;
    width: 198px;
    border: 2px solid #fff;
    height: 350px;
    border-radius: 10px;
    background-color: #359933;
}

.res-card:hover {
    /* border: 1px solid #000; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.food-info {
    padding: 10px;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    margin: 5px 0;
}

.restuarant-image {
    width: 100%;
    border-radius: 10px;
}

.res-container a {
    text-decoration: none;
}

.top-rated-button {
    padding: 5px;
    background-color: #d84f4f;
    color: #fff;
    border-radius: 5px;
}

.search-field {
    padding: 5px;
    width: 200px;
}

.search-btn {
    padding: 5px;
    background-color: #d84f4f;
    margin-right: 20px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 10px;
    width: 200px;
    height: 350px;
    border-radius: 5px;
    background-color: #e6e5e5;
}

.login {
    cursor: pointer;
    background-color: #d9d9d9;
    padding: 0px 22px;
    border-radius: 5px;
}

.action-box{
    display: flex;
    margin: 20px 0;
}

.res-menu-container {
    width: 500px;
    margin: 30px auto;
    box-shadow: 0 5px 15px #00000059;
    padding: 30px;
    border-radius: 10px;
    background: #f8fff659;
}

.menu-type {
    box-shadow: 0 5px 15px #00000059;
    padding: 20px;
    margin: 10px;
    background: #f8fff659;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.menu-item-box {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bf1d1d;
}

.width-50-percent {
    width: 50%;
}

.width-70-percent {
    width: 70%;
}

.product-img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.width-30-percent {
    width: 30%;
}

.not-available-text {
    text-align: center;
}

.font-size-12px {
    font-size: 12px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.view {
    cursor: pointer;
}